.article-list {
  height: 100%;
  display: flex;
}
.article-list-ui {
  flex: 1;
}
.article-list-pagination {
  height: 50px;
}
.ant-spin-container {
  height: 100%;
}

.article {
  background-color: #ffffff;
  height: 100%;
}
.title {
  width: 100%;
  height: 60px;
  background-size: cover;
  background-position: center center;
  background-image: url(/xia.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    padding-top: 10px;
  }
  color: #fff;
}

.content {
  width: 1000px;
  position: relative;
  height: 100%;
  overflow-y: scroll;
  line-height: 2;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  padding: 30px 40px;
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
  box-shadow: 0 3px 8px 6px rgba(7, 17, 27, 0.05);
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.test {
  width: 100%;
  display: flex;
  height: calc(100% - 60px);
  padding: 20px 0;
  justify-content: center;
  overflow: hidden;
  &:last-child {
    position: absolute;
  }
}
